.my-damage-display-item {
    width: 102px;
}

.their-damage-display-item {
    width: 86px;
}

.damage-display-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    font-size: 10px;
}

#damage-display-container {
    margin-left: 4px;
    margin-top: 20px;
}

.damage-amount {
    float: right;
}

.damage-display {
    display: block;
}