.my-damage-display-item {
    width: 102px;
}

.their-damage-display-item {
    width: 86px;
}

.damage-display-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    font-size: 10px;
}

#collapse-button {
    margin: 0 auto;
    display: block;
    width: 100%;
    background: #777;
    color: white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

#collapse-button:hover {
    background: #333;
}

#damage-display-container {
    margin-left: 10px;
    margin-top: 5px;
}

#damage-display-slideout {
    width: 100%;
    background: #fefefe;
    color: black;
    bottom: 0;
    position: fixed;
}

.damage-amount {
    float: right;
}

.damage-display {
    display: block;
}